/* Give links an "OSU" look */
a {
	text-decoration: none;
	padding-bottom: 0.5px;
	border-bottom: 4px solid #FF7300
}

a:link {
	color:inherit;
}

a:visited {
	color:inherit;
}

a:active {
	color:#FF7300
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

/* Navigation sidebar */

.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #FF7300;
	background-image: linear-gradient(to right, #ff7300, white 98%);
	overflow-x: hidden;
}

.sidenav a {
	color: black;
	padding: 2px;
	text-decoration: none;
	display: block;
	border-bottom: none;
}

.sidenav a:hover {
	background-color: white;
	color: black;
}

.content {
	margin-left: 200px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins');

body,h1,h2,h3,h4,h5 {
	font-family: "Poppins", sans-serif;
}

/* Images */
img {
	display: block;
	margin: auto;
	width: 60%;
}

/* Tables */
th, td {
	padding: 15px;
	text-align: left;
}

th {
	background-color: #FF7300;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

html, body {
	height: 100%;
}

table {
	width: 85%;
	display: block;
	margin: auto;
}

/* Code blocks */
pre {
	margin: 15px 0;
}
code {
	margin: 0 3px;
	padding: 0 2px;
	border: 1px solid #eaeaea;
	background-color: #f8f8f8;
	border-radius: 3px;
	font-size: 16px;
}

pre code {
	margin: 0;
	padding: 0;
	white-space: pre;
	border: none;
	background: transparent;
}

.highlight pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 16px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #cccccc;
	font-size: 16px;
	line-height: 19px;
	overflow: auto;
	padding: 6px 10px;
	border-radius: 3px;
}
pre code {
	background-color: transparent;
	border: none;
}

/* Blockquotes */
blockquote {
	border-left: 4px solid #dddddd;
	padding: 0 15px;
	color: #777777;
}

blockquote > :first-child {
	margin-top: 0;
}

blockquote > :last-child {
	margin-bottom: 0;
}
